.chart {
    padding: 1rem;
    background-color: #E8E46E;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 15rem;
  }

  .flexSettings {
    flex-direction: row;
    text-align: center;

  }