.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E8E46E;
    height: 100vh;
    /* Additional styles... */
  }

  /* Dashboard.css */
.dashboard-container {
  height: 100vh;
}

.sidebar {
  flex: 1;
  background-color: #333;
  color: white;
  padding: 20px;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
