/* globalStyles.css */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    /* Add other global styles as needed */
  }

  /* MyComponent.css */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .flex-item {
    flex: 1.5;
    padding: 10px;
  }

  .flex-item-2 {
    flex: 2.5;
    padding: 10px 10px 0 10px;
  }

  .flex-item-3 {
    flex: 1;
    align-items: center;
  }

  .main-content{
    padding:20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    padding-bottom: 10px;
  }

  .header {
    color: #E99497;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: start;
  }
  
  .header nav li {
    margin: 0 10px;
  }
  
  .header nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Navigation.css */
.navigation {
    background-color: #F3C583;
    color: white;
    padding: 10px 0;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 10px !important;
    margin: 0;    
  }
  
  .nav-list li {
    padding: 10px;
  }
  
  .nav-list a {
    color: white;
  }
  
  .nav-list li.active {
    background-color: #B3E283;
    border-radius: 5px;
  }
  /* Apply additional styles as needed */
  .background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E8E46E;
    height: 75vh;
    padding: 15px;
    /* Additional styles... */
  }
